AuthServiceURL=http://host.docker.internal:5000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=ctp_api_db

ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=ctp_api_db;Username=postgres;Password=postgres_password